html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.column {
    float: left;
}

.left.column {
    position: relative;
}

.left {
    width: 35%;
    height: 100vh;
}

.right {
    width: 65%;
    background-image: url("../images/bg.png");
    background-size: cover;
    min-height: 100vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.left.column .column-contents {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left.column .column-contents .logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.left.column .column-contents .instructions {
    text-align: center;
    color: #1A253D;
}

.left.column .column-contents .instructions.primary {
    font-size: 45px;
    font-weight: bold;
}

.left.column .column-contents .instructions.secondary {
    font-size: 18px;
    margin-top: 10px;;
    margin-bottom: 40px;
}


.left.column .column-contents input {
    padding: 15px 20px;
    width: 100%;
    font-family: inherit;
    border: 1px solid #C6C6C6;
    margin-bottom: 20px;
    outline: none;
    font-size: 18px;
}
.left.column .column-contents .show-password {
    margin-left: -30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.left.column .column-contents .other-options  {
    width: 100%;
    color: rgba(0,0,0,0.41);
    font-size: 18px;
}

.left.column .column-contents .other-options .buttons  {
    margin-top: 15px;
}
.left.column .column-contents .other-options .buttons button {
    padding: 10px 20px;
    width: 30%;
    border: 1px solid #C6C6C6;
    outline: none;
    margin-right: 5%;
    cursor: pointer;
}

.left.column .column-contents .other-options .buttons button:last-child {
    margin-right: 0;
}
.left.column .column-contents .other-options .buttons .login-with-facebook {
    background: #3B5998;
}

.left.column .column-contents .other-options .login-with-twitter {
    background: #00ACEE;
}

.left.column .column-contents .terms-and-conditions {
    margin-top: 20px;
    color: rgba(0,0,0,0.41);
    font-size: 18px;
}

a {
    color: #3590EB;
}
